

<div style="padding: 80px 0px 0px 0px;">
<div class="jumbotron jumbotron-fluid" style="text-align: center; background-color: rgba(233, 236, 239, 0.9);">
  <div class="container">
    <h1 class="display-4">Welcome to Expertly</h1>
    <p class="lead">A Rails app that will broaden your horizons.</p>
  </div>
</div>
</div>
